// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$orange: #bd5d38;
$blue:	#2596be;
$blue2: #063970;
$red: #Af0505;
$blue3: #0070BB;
$blue4: #009DBB;
$green: #0aa111;

// Override Bootstrap default state colors

$primary: $blue4;
